
<!DOCTYPE html>
<html lang='en' class=''>

<head>

  <meta charset='UTF-8'>
  <title>VueJs</title>


  

</head>

<body>
  
<div id="app">{{value}}</div>
  
  

<div id="app-2">
  <span v-bind:title="message">
    testo testo testo
  </span>
</div>


<div id="app-3">
  <span v-if="seen">Now you see me</span>
</div>


<div id="app-4">
  <ol>
    <li v-for="lan in lang">
      {{ lan.text }}
    </li>
  </ol>
</div>

<div id="app-4a">
  <ul>
     <li v-for="dog in dogs">{{dog}}</li>
  </ul>
  </div>



<div id="app-5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">Reverse Message</button>
</div>


<div id="app-6">
  <p>{{ message }}</p>
  <input v-model="message">
</div>


<div id="app-7">
  <p v-if="orario < 12 && orario > 5">Buon Giorno!</p>
   <p v-else-if="orario >= 12 && orario <= 18">Buon Pomeriggio!</p>
   <p v-else>Buona sera!</p>
</div>


<div id="app-8">
  <p v-show="check">V-Show</p>
 </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js"></script>
<script src="vue_ex_0.js"></script>

</body>

</html>