#libroContainer {
    width: 500px;
    height: 100%;
    border: 1px dotted black;
    padding: 25px;
}

.titolo {
    font-family: 'Courier New', Courier, monospace;
    background-color: orange;
    width: fit-content;
    margin: 0 auto;
}

/*Classe per autore, traduttore e a cura di*/
.autore {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    width: fit-content;
    margin: 0 auto;
}

.recensione {
    font-style: italic;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ccc;
}

.recensione::first-letter {
    text-transform: uppercase;
}