body {
    margin: 0;
}

header {
    margin: 0;
    background-color: red;
}

#prima-sezione {
    border: 2px solid black;
    margin: 15px;
    padding: 10px;
}

#seconda-sezione {
    border: 2px dotted black;
    margin: 15px;
    padding: 10px;
}

h1 {
    font-family: 'Righteous', cursive;
}