@mixin newsContainer ($bgColor, $textColor) {
    padding: 0 10px;
    background-color: $bgColor;
    color: $textColor;

    h2 {
        border-bottom: 1px solid $textColor;
    }

    em::before {
        content: "Categoria: ";
    }
}