
//Stile menu navigazione
@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');

* {
    font-family: 'News Cycle', sans-serif;
}

nav {
    display: flex;
    justify-content: center;

    .logo {
        text-transform: uppercase;
        font-size: 3em;
    }
}

#mostraNews {
    display: flex;

    .articolo {
        width: 60%;
        margin: 0 auto;
    }
    
    .filtro {
        display: flex;
        flex-direction: column;
        padding: 25px;

        .filtra-news {
            margin-bottom: 5px;
            font-size: 25px;
        }
    }
}