
//Stile menu navigazione
@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');

* {
    font-family: 'News Cycle', sans-serif;
}

nav {
    display: flex;
    justify-content: center;

    .logo {
        text-transform: uppercase;
        font-size: 3em;
    }
}

#mostraNews {
    display: flex;
    width: 1024px;
    margin: 0 auto;

    .articoli {
        width: 80%;
        border: 1px solid #ccc;
        padding: 0 20px;
        margin-right: 5px;

        h2:nth-child(1) {
            margin: 0;
        }
    }

    .filtro {
        width: 20%;
        display: flex;
        flex-direction: column;

        .filtra-news {
            margin-bottom: 5px;
            font-size: 15px;
        }
    }
}