@use 'button';
//Stile menu navigazione
@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');

* {
    font-family: 'News Cycle', sans-serif;
}

nav {
    display: flex;
    justify-content: center;

    .logo {
        text-transform: uppercase;
        font-size: 3em;
    }
}

#mostraNews {
    display: flex;
    width: 1024px;
    margin: 0 auto;

    .articoli {
        width: 80%;
        border: 1px solid #ccc;
        padding: 0 20px;
        margin-right: 5px;

        h2:nth-child(1) {
            margin: 0;
        }
    }

    .filtro {
        width: 20%;
        display: flex;
        flex-direction: column;

        .filtra-news:nth-child(2) {
            @include button.btn-filtro (#ccc, red)
        }

        .filtra-news:nth-child(3) {
            @include button.btn-filtro (white, black)
        }

        .filtra-news:nth-child(4) {
            @include button.btn-filtro (blue, #ccc)
        }

        .filtra-news:nth-child(5) {
            @include button.btn-filtro ( #006600, #66ff66)
        }

        .filtra-news:nth-child(6) {
            @include button.btn-filtro ( #e60000, orange)
        }
    }
}