* {
    box-sizing: border-box;
}

body {
    margin: 0px
}

header {
    background: red;
    margin-top: 0px;
    padding: 10px;
}

header /*.logo*/ > div { 
    display: inline-block;
    font-size: 30px;
    font-family: 'Righteous', cursive;
    vertical-align: middle;
}

header /*.logo*/ > div a {
    color: white;
    text-decoration: none;
}

.main-nav__item a:hover {
    color: blue;
}

.main-nav {
    display: inline-block;
    width: calc(100% - 137px);
    vertical-align: middle;    
}

.main-nav__items {
    text-align: right;
    width: 100%;
}

.main-nav__item {
    display: inline-block;
}

.main-nav__item a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;    
}

.call_to_action {
    border-radius: 2em;
    border: 2px solid blue;
}

.call_to_action:hover {
    background-color: blue;
    border-color: white;
}

.call_to_action a:hover {
    color: red;
}

.hero img {
    width: 100%;
}

h1 {
    font-family: sans-serif;
    font-family: 'Righteous', cursive;
    margin: 0px;
}

.my-section {
    padding: 20px;
    border: 3px solid black;
    margin: 10px;
}

#second-section {
    border: 3px dashed black;
}